<div></div><table>
	<tr>
		<th>Picture</th>
		<th>Repeatable</th>
		<th>Spiciness</th>
	</tr>
	<% if @lunches %>
		<% @lunches.each do |lunch| %>
			<tr>
				<td>
					<a href src="<%= lunch.photo_url %>"><%= lunch.owner %>'s lunch</a>
				</td>
				<td><%= lunch.repeatable %></td>
				<td><%= lunch.spiciness %></td>
			</tr>
		<% end %>
	<% end %>
</table>
